In [1]:
#importing the needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Reading the data
raw_data=pd.read_csv('electric_utilities.csv')

In [4]:
#Taking a sneek peek to the data
raw_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533,1.000,2.77,2.77,2.570

In [5]:
#getting standard deviation and seventy five percentile
standard_deviation=raw_data['fuel_mmbtu_per_unit'].std()
standard_deviation_round=round(standard_deviation, 2)

seventyfive_percentile=np.percentile(raw_data['fuel_mmbtu_per_unit'], 75)
seventyfive_percentile_round=round(seventyfive_percentile, 2)

print(standard_deviation_round, seventyfive_percentile_round)

10.6 17.01

In [6]:
#skewness and kurtosis for fuel_qty_burned
skew_fuel_qty_burned=raw_data['fuel_qty_burned'].skew()
skew_fuel_qty_burned_round=round(skew_fuel_qty_burned, 2)

kurtosis_fuel_qty_burned=raw_data['fuel_qty_burned'].kurt()
kurtosis_fuel_qty_burned_round=round(kurtosis_fuel_qty_burned, 2)

print(skew_fuel_qty_burned_round,kurtosis_fuel_qty_burned_round)

15.85 651.37

In [7]:
#missing values
raw_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [8]:
#getting the percentage
total=raw_data.isnull().sum()
percent=(raw_data.isnull().sum()/raw_data.isnull().count())*100
percent_round=round(percent, 3)

print(percent_round)

record_id                       0.00
utility_id_ferc1                0.00
report_year                     0.00
plant_name_ferc1                0.00
fuel_type_code_pudl             0.00
fuel_unit                       0.61
fuel_qty_burned                 0.00
fuel_mmbtu_per_unit             0.00
fuel_cost_per_unit_burned       0.00
fuel_cost_per_unit_delivered    0.00
fuel_cost_per_mmbtu             0.00
dtype: float64

In [9]:
#getting correlation with respect to fuel cost per unit burned

correlation = raw_data.corr()
print(correlation['fuel_cost_per_unit_burned'].sort_values(ascending = True))

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [11]:
#%change in the fuel cost per unit burned in 1998 compared to 1994 for fueltype coal

#let me get the list of fuel_cost_per_unit_burned that is coal in 1994

fuel_ist= raw_data.loc[(raw_data['fuel_type_code_pudl'] == 'coal') & (raw_data['report_year'] == 1994)  & (raw_data['fuel_cost_per_unit_burned']), ['fuel_type_code_pudl','report_year', 'fuel_cost_per_unit_burned' ]]
print(fuel_ist)

#get the sum of the fuel_cost_per_unit_burned column
summa_ist = fuel_ist['fuel_cost_per_unit_burned'].sum()
print(summa_ist)

     fuel_type_code_pudl  report_year  fuel_cost_per_unit_burned
0                   coal         1994                      18.59
1                   coal         1994                      18.58
2                   coal         1994                      39.72
3                   coal         1994                      47.21
5                   coal         1994                      44.24
...                  ...          ...                        ...
1224                coal         1994                      37.78
1227                coal         1994                      38.23
1229                coal         1994                      40.97
1230                coal         1994                      39.95
1232                coal         1994                      39.19

[475 rows x 3 columns]
14984.572000000002

In [13]:
#let me get the list of fuel_cost_per_unit_burned that is coal in 1998

fuel_2nd = raw_data.loc[(raw_data['fuel_type_code_pudl'] == 'coal') & (raw_data['report_year'] == 1998)  & (raw_data['fuel_cost_per_unit_burned']), ['fuel_type_code_pudl','report_year', 'fuel_cost_per_unit_burned' ]]
print(fuel_2nd)

summa_2nd = fuel_2nd['fuel_cost_per_unit_burned'].sum()
print(summa_2nd)

     fuel_type_code_pudl  report_year  fuel_cost_per_unit_burned
4618                coal         1998                     19.282
4619                coal         1998                     19.280
4620                coal         1998                     26.550
4622                coal         1998                     26.550
4624                coal         1998                     30.936
...                  ...          ...                        ...
5708                coal         1998                     15.151
5710                coal         1998                     21.055
5712                coal         1998                     22.596
5714                coal         1998                     14.035
5716                coal         1998                     24.875

[431 rows x 3 columns]
11902.597

In [16]:
#getting the percentage change

percent_change=((summa_2nd-summa_ist)/summa_ist)*100
print(percent_change)

-20.56765451826053

In [17]:
#which year has the highest average fuel cost per unit delivered
 
repo_yr=raw_data.groupby(['report_year']).fuel_cost_per_unit_delivered.mean()
print(repo_yr)

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [18]:
#checking the fuel with the lowest avg fuel cost per unit burned
fuel_type=raw_data.groupby(['fuel_type_code_pudl']).fuel_cost_per_unit_burned.mean()
print(fuel_type)

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64